@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    text-align: center;
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('./img/fondo.jpg');
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-family: 'Goldman', cursive;
}

.contenedor {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.start {
    height: 10px;
}

/* HOME -------------------------------------------------------------------- */


/* PLAY -------------------------------------------------------------------- */

/* ROBT DECK */

.deck {
    background-color: rgba(0,0,0,0.5);
    width: fit-content;
    height: auto;
    max-height: 600px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    margin: 50px auto;
}

.robot-card {
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robot-card img {

}

.robot-card h4 {
    
}

/* SELECTED */

.message{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message h2{
    background-color: rgba(0,0,0,0.5);
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.selected-card {
    background-color: rgba(0,0,0,0.5);
}

/* ADMIN -------------------------------------------------------------------- */
/* RANKING */

th {
    font-family: 'Goldman', cursive;
}

/* DETALLE -------------------------------------------------------------------- */



/* NUEVO -------------------------------------------------------------------- */

.formulario label{
    text-align: left;
}
